
/*************
TYPOGRAPHY 
& OTHER BITS
*************/

html {
	font-size: 14px;
}

body {
	background: $cream;
	color: $black;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
	word-break: break-word; // wrap extra-long words so they don't break layout
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	text-transform: uppercase;
}
h1, .h1, h2, .h2 {
	font-family: 'DIN Cond', 'Open Sans', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
	letter-spacing: 0.045em;
	line-height: 1.025em;
	margin-bottom: 0.5em;
	margin-top: 0;
}
h3, .h3, h4, .h4 {
	font-weight: 600;
	line-height: 1.25em;
	margin-bottom: 0.25em;
	margin-top: 0;
}

h1, .h1 {
	font-size: 2.5rem;
}
@include breakpoint(medium) {
	h1, .h1 {
		font-size: 2.85rem;
	}
}

h2, .h2 {
	font-size: 2rem;
}
h3, .h3 {
	font-size: 1.1rem;
}
h4, .h4, h5, .h5, h6, .h6 {
	font-size: 1rem;
}

header h1 {
	margin-bottom: 0.25em;
}

.subheading {
	color: $gray;
	font-size: 1.25rem;
	margin-bottom: 0.75em;
	text-transform: uppercase;
}

p {
	font-size: 1rem;
	margin-bottom: 0.75em;
	margin-top: 0;
}

ul {
	list-style-type: none;
	padding-left: 0;
	ul {
		margin-left: $padding;
	}
}
ol {
	padding-left: 1.125rem;
	li + li {
		margin-top: 0.75em;
	}
}

hr {
	border-top: 1px solid $silver;
	margin-top: $padding;
	margin-bottom: $padding;
}

::selection {
	background: $gray;
	color: $cream;
}

.single main, .page:not(.home) main {
	ul:not(.meta):not(.comment-list) {
		@include bullet-list;
	}
	a:not(.button):not(.tribe-events-button) {
		@include underline;
		&:hover {
			color: $black;
		}
	}
}

blockquote {
	border-left: 4px solid $silver;
	padding-left: $padding/2;
}

.small, small {
	font-size: 0.75rem;
	font-weight: 600;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

span.quiet, p.quiet {
	color: $gray;
}

.visually-hidden { /* text for screen readers */
	@include visually-hidden;
}

/*************
FORMS 
*************/

input, textarea {
	border: 1px solid $silver;
	max-width: 100%;
	opacity: 0.8;
	padding: 0.25em;
	&:focus {
		opacity: 1;
		outline: none;
	}
}

label {
	display: block;
	margin-bottom: 0.125em;
	@extend .small;
}

.checkbox {
	margin-top: $padding/3;
	span { // checkbox label
		color: $gray;
	}
}

/*************
MEDIA
*************/

.issuuembed {
	a {
		border-bottom: 0 !important; // override link underlines
	}
	> div > div:nth-of-type(2) {
	    opacity: 0.3; // dim issuu credit thing
	}
}


/*************
COMPONENTS 
other reusable bits of stuff
*************/

a {
	color: $black;
	text-decoration: none;
}

button, .button, input[type='submit'], .badge {
	background: $gray;
	color: $white;
  	font-weight: 600;
  	letter-spacing: 0.05em;
  	padding: 0.125rem 0.75rem;
  	text-transform: uppercase;
}

button, .button, input[type='submit'] {
	border: 0;
	border-radius: $radius;
  	opacity: 0.8;
  	&:hover {
  		opacity: 1;
  	}
  	&.large {
  		padding: 0.5rem 1rem;
  	}
}

button, input[type='submit'] {
	cursor: pointer;
}

input[type='submit'] {
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
}

.meta {
	color: $gray;
	@extend .small;
	&.category, &.category a, .category {
		color: $black;
	}
	li { // for single Events categories
		display: inline;
		&:not(:last-child):after {
			content: ', ';
		}
	}
}

.article-sm h3 {
	@extend .h4;
}

article {
	position: relative;
	* {
		max-width: 100%;
	}
	.thumbnail {
		border: 6px solid $white;
		opacity: 0.9;
	}
	&:not(.hero) .thumbnail {
		background-color: $white;
		background-size: cover;
		background-position: center;
		display: block;
		height: 150px;
		margin-bottom: $padding/4;
		overflow: hidden;
	}
	a:hover .thumbnail {
		opacity: 1;	
	}
	p:empty {
		display: none; // hide empty p's that events plugin generates on recurring events
	}
}

/*** Call to Action Banners ***/

div.cta {
	background-size: cover;
	padding: $padding;
	text-align: center;
}

/*** Search Form ***/

#searchform button {
	background: transparent; // remove button style, since we're using an icon
	font-size: 1.25em;
}

/*** Tables ***/

table {
	margin-bottom: $padding/2;
	img {
		max-width: 160px;
	}
	th, tr, td {
		padding: $padding/2;
	}
	th {
		text-align: left;
		@extend .h4;
	}
	tr {
		border-bottom: $border;
		font-size: 0.85rem;
	}
	th + th, td + td {
		border-left: 1px solid $silver;
	}
}

/*** Definition Lists ***/

dt {
	margin-top: $padding/2;
	@extend .h4;
}
dd {
	margin-left: 0;
}

/*** Page Navigation **/

nav.pagination {
	border-top: $border;
	margin-top: $padding*2;
	padding-top: $padding;
	border-bottom: $border;
	padding-bottom: $padding;
	@extend .h3;
	.prev-link {
		float: left;
	}
	.next-link {
		float: right;
	}
}

@include breakpoint(large) {
	nav.pagination {
		border-bottom: none;
	}
}

/*** Widgets ***/

main .widget, .home-widget { // exclude footer widgets
	a:not(.button) {
		@extend .h4;
		@include underline($silver);
	}
	li + li, li > ul {
		margin-top: 0.75em;
	}
}

/*** Avatar Images ***/


span.comment-avatar, .comment-author img {
	border-radius: 100%;
	overflow: hidden;
}
