
/******* 
GRID 
*******/

#nav {
	width: 100%;
}

#header .desktop {
	display: none;
}

hr  {
	width: 100%;
}

#header > div, .announcement > p, .articles > div, footer > div, .subfooter > div, .single main > article, .single-event-article, section.tags {
	@include grid-row;
}

footer section {
	@include grid-column(6);
	&:first-child {
		@include grid-column(12);
	}
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#tribe-events-content {
	padding: inherit; // override plugin css
}

/*** Vertical Margins & Heights ***/

main {
	padding: $padding/2;
}

article + article {
	margin-top: $padding;
}

footer, div.category > article + article {
  margin-top: $padding/2;
}

main > header, .calendar-header {
	margin-top: $padding/2;
	margin-bottom: $padding;
}

aside.sidebar {
	margin-top: $padding*2;
}

/*** Excerpts ***/
p.excerpt {
	display: none; // hide on mobile
}

.single p.excerpt {
	display: none; // more specificity to always hide on .single
}


/*** HOMEPAGE ***/

body.home {
	.hero .thumbnail {
		display: block;
		height: auto;
		margin-bottom: $padding/4;
		overflow: hidden;
	}
	div.events, div.secondary, div.tertiary,
	.articles article, div.donate {
		margin-top: $padding;
		@include breakpoint(medium) {
			margin-top: 0;
		}
	}
	div.category {
		margin-bottom: $padding;
	}
}

// new grid layout

.home main {
	.primary {
		grid-area: primary;
	}
	.secondary {
		grid-area: secondary;
	}
	.tertiary {
		grid-area: tertiary;
	}
	.articles {
		grid-area: main;
	}
	.cta {
		grid-area: sub;
	}
	@include breakpoint(medium) {
		display: grid;
		grid-gap: $padding;
		grid-template-areas:
			"secondary primary"
			"tertiary tertiary"
			"main main"
			"sub sub"
		;
		grid-template-columns: 1fr 2fr;
		max-width: 87.5rem;
		margin-left: auto;
		margin-right: auto;
	}
	@include breakpoint(large) {
		grid-template-areas:
			"secondary primary tertiary"
			"main main main"
			"sub sub sub"
		;
		grid-template-columns: 1fr 2fr 1fr;
	}
}


@include breakpoint(medium) {

	main {
		min-height: 25rem;
	}

	main > header, .calendar-header {
		margin-top: $padding*1.5;
		margin-bottom: $padding*1.5;
	}

	img.left {
		float: left;
		margin-right: $padding/2;
		margin-bottom: $padding/2;
		width: 16rem;
	}

	.alignleft {
		float: left;
		margin-right: $padding/2;
	}

	.alignright {
		float: right;
		margin-left: $padding/2;
	}

	div.category-1, div.category-2, div.category-3, .articles article {
		margin-top: $padding;
	}

	.announcement > div, #header h1, main > div {
		@include grid-row;
	}

	/*** Excerpts ***/
	p.excerpt {
		display: block;
	}

	/*** Homepage ***/
	body.home {

		article + article, div.events {
			margin-top: 0; // reset from mobile style
		}

		.category-lists {
			display: flex;
			width: 100%;
			.category {
				flex: 1;
			}
		}

		// add flexbox on top of floats to make this layout more reliable (someday should remove floats)
		// also add negative margins to offset article padding
		.articles > div {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-left: -0.9375rem;
			margin-right: -0.9375rem;
		}

		.secondary article,
		.articles article {
			margin-bottom: $padding;
		}

		.articles article {
			@include grid-column(6);
		}

		.cta {
			width: 100%;
		}
	}

	footer section {
		@include grid-column(3);
		&:first-child {
			@include grid-column(6);
		}
		p {
			max-width: 30rem;
		}
	}

	/*** PAGES WITH SIDEBARS ***/

	body.archive, body.search, body.page-template-page-twocolumn, body.blog {
		main {
			@include grid-row;
		}
		article {
			@include grid-row;
			.thumbnail {
				@include grid-column(4,0);
			}
			div.text {
				@include grid-column(8);
			}
		}
	}

	/*** SINGLE PAGE & DEFAULT PAGES ***/

	body.single {
		main {
			@include grid-row;
		}
		main > article, .single-event-article, section.tags, section.comments { // everything except section.related-posts
			@include grid-column(10);
			@include grid-col-pos(center);
		}
		article img.expanded {
			max-width: 120%;
			margin-left: -10%;
			width: 120%;
		}
		article div.alignleft {
			margin-left: -10%;
		}
		article div.alignright {
			margin-right: -10%;
		}
	}

	body.page:not(.home):not(.page-template-page-twocolumn), body.error404 {
		main {
			@include grid-column(11);
			@include grid-col-pos(center);
		}
	}

	section.related-posts {
		@include grid-row;
		article {
			margin-top: 0;
			@include grid-column(4);
		}
	}


} /* end breakpoint(medium) */


@include breakpoint(large) {

	/*** HEADER / MAIN NAV ***/

	#header .desktop {
		display: block;
	}

	#nav .mobile {
		display: none;
	}

	#nav {
		@include grid-column(5);
	}

	/*** HOMEPAGE ***/

	body.home {

		div.hero .text {
			margin-top: $padding;
		}

		.articles article {
			@include grid-column(3);
		}

		.category-lists {
			display: block;
		}

	}

	/*** PAGES WITH SIDEBARS ***/

	body.archive, body.search, body.page-template-page-twocolumn, body.blog {
		div.left {
			@include grid-column(8,0);
		}
		div.right {
			@include grid-column(8);
		}
	}

	aside.sidebar {
		margin-top: 0;
		@include grid-column(4);
		> div {
			@include grid-row;
		}
	}

	body.events-list {
		div.right {
			float: right;
		}
		aside.sidebar {
			float: left;
			padding-left: 0;
		}
	}

	/*** EVENTS CALENDAR/GRID VIEW ***/

	body.calendar article {
		@include grid-row;
		img {
			@include grid-column(4);
		}
		div.text {
			@include grid-column(8);
		}
	}

	/*** SINGLE EVENT PAGE ***/

	body.events-single .tribe-events-meta-group {
		@include grid-column(6);
	}


	/*** SINGLE & DEFAULT PAGES ***/

	body.single {
		main header {
			@include grid-column(9);
			@include grid-col-pos(center);
		}
		main > article, section.tags, section.comments {
			@include grid-column(7);
			@include grid-col-pos(center);
		}
	}

	body.page:not(.home):not(.page-template-page-twocolumn) {
		main {
			@include grid-column(8);
			@include grid-col-pos(center);
		}
	}

}