
/******* 
GRID 
*******/

nav {
	width: 100%;
}

main {
	min-height: 25rem;
	padding: $padding/2;
}

#header > div, .articles > div, footer > div, .subfooter > div, .tags {
	@include grid-row;
}

footer section {
	@include grid-column(6);
	&:first-child {
		@include grid-column(12);
	}
}

/*** HOMEPAGE ***/

.music, .film, .compass, .articles article {
	margin-top: $padding*2;
}

/*** ARCHIVE PAGES ***/

body.archive, body.search-results {
	article {
		@include grid-row;
		.thumbnail {
			@include grid-column(4,0);
		}
		div.text {
			@include grid-column(8);
		}
		+ article {
			margin-top: $padding;
		}
	}
}

@include breakpoint(medium) {

	img.left {
		float: left;
		margin-right: $padding/2;
		margin-bottom: $padding/2;
		width: 16rem;
	}

	.music, .film, .compass, .articles article {
		margin-top: $padding;
	}

	.announcement > div, #header h1, main > div {
		@include grid-row;
	}

	body.home {

		.hero {
			.thumbnail {
				@include grid-column(7);
			}
			div.text {
				margin-top: $padding;
				@include grid-column(5);
			}
		}

		.secondary .featured, .events {
			@include grid-column(4);
		}

		.events article {
			@include grid-row;
		}

		.music, .film {
			article {
				@include grid-row;
			}
		}

		.music {
			@include grid-column(12);
		}

		.film {
			@include grid-column(7);
		}

		.compass {
			@include grid-column(5);
			> div {
				@include grid-row;
			}
		}

		.articles article {
			@include grid-column(6);
		}
	}

	footer section {
		@include grid-column(3);
		&:first-child {
			@include grid-column(6);
		}
		p {
			max-width: 30rem;
		}
	}

	/*** ARCHIVE PAGES ***/

	body.archive, body.search-results {
		main {
			@include grid-row;
		}
	}

	/*** SINGLE PAGE & DEFAULT PAGES ***/

	body.single, body.page, body.error404 {
		main {
			@include grid-column(11);
			@include grid-col-pos(center);
		}
	}


} /* end breakpoint(medium) */


@include breakpoint(large) {

	nav {
		@include grid-column(5);
	}

	/*** HOMEPAGE ***/

	body.home {
		.hero {
			@include grid-column(11);
			@include grid-col-pos(center);
		}

		.articles article {
			@include grid-column(3);
		}
		.music {
			@include grid-column(5);
		}

		.film {
			@include grid-column(4);
		}

		.compass {
			@include grid-column(3);
		}
	}

	/*** ARCHIVE PAGES ***/

	body.archive, body.search-results {
		div.left {
			@include grid-column(8,0);
		}
		aside {
			@include grid-column(4);
			> div {
				@include grid-row;
			}
		}
	}

	body.calendar article {
		@include grid-row;
		img {
			@include grid-column(4);
		}
		div.text {
			@include grid-column(8);
		}
	}

	/*** SINGLE & DEFAULT PAGES ***/

	body.single, body.page {
		main {
			@include grid-column(9);
			@include grid-col-pos(center);
		}
	}

}