
/******* 
GRID 
*******/

#nav {
	width: 100%;
}

#header .desktop {
	display: none;
}

hr  {
	width: 100%;
}

#header > div, .announcement > p, .articles > div, footer > div, .subfooter > div, .single article, section.tags {
	@include grid-row;
}

footer section {
	@include grid-column(6);
	&:first-child {
		@include grid-column(12);
	}
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*** Vertical Margins & Heights ***/

main {
	min-height: 25rem;
	padding: $padding/2;
}

article + article {
	margin-top: $padding;
}

footer, .music > article + article, .film > article + article, .art > article + article {
  margin-top: $padding/2;
}

main > header, #tribe-events-content > header {
	margin-top: $padding/2;
	margin-bottom: $padding;
}

/*** HOMEPAGE ***/

body.home {
	.hero .thumbnail {
		display: block;
		max-height: 12rem;
		margin-bottom: $padding/4;
		overflow: hidden;
	}
	div.secondary, div.events, .music, .film, .home-widget, .articles article {
		margin-top: $padding;
	}

	div.fresh-stream {
		@include grid-row;
		article {
			@include grid-column(6);
		}
		article + article {
			margin-top: 0;
		}
	}
}


@include breakpoint(medium) {

	main > header, #tribe-events-content > header {
		margin-top: $padding*1.5;
		margin-bottom: $padding*1.5;
	}

	img.left {
		float: left;
		margin-right: $padding/2;
		margin-bottom: $padding/2;
		width: 16rem;
	}

	.alignleft {
		float: left;
		margin-right: $padding/2;
	}

	.alignright {
		float: right;
		margin-left: $padding/2;
	}

	.music, .film, .home-widget, .articles article {
		margin-top: $padding;
	}

	.announcement > div, #header h1, main > div {
		@include grid-row;
	}

	body.home {

		main > div {
			margin-top: $padding;
		}

		article + article, div.events {
			margin-top: 0; // reset from mobile style
		}

		.hero .thumbnail {
			max-height: 30rem;
		}

		.tertiary article {
			@include grid-column(6);
		}

		.secondary {
			.featured, .events {
				@include grid-column(4);
			}
		}

		.events article {
			@include grid-row;
		}

		.music, .film {
			article {
				@include grid-row;
			}
		}

		.music {
			@include grid-column(12);
		}

		.film {
			@include grid-column(7);
		}

		.home-widget {
			@include grid-column(5);
			> div {
				@include grid-row;
			}
		}

		.articles article {
			@include grid-column(6);
		}

		div.fresh-stream article {
			@include grid-column(4);
		}
	}

	footer section {
		@include grid-column(3);
		&:first-child {
			@include grid-column(6);
		}
		p {
			max-width: 30rem;
		}
	}

	/*** PAGES WITH SIDEBARS ***/

	body.archive, body.search-results, body.page-template-page-twocolumn {
		main {
			@include grid-row;
		}
		article {
			@include grid-row;
			.thumbnail {
				@include grid-column(4,0);
			}
			div.text {
				@include grid-column(8);
			}
		}
	}

	/*** BIO PAGE ***/

	.page-template-page-bio img {
		@include grid-column(4);
	}

	/*** SINGLE PAGE & DEFAULT PAGES ***/

	body.single, body.page:not(.page-template-page-twocolumn), body.error404 {
		main {
			@include grid-column(11);
			@include grid-col-pos(center);
		}
	}


} /* end breakpoint(medium) */


@include breakpoint(large) {

	/*** HEADER / MAIN NAV ***/

	#header .desktop {
		display: block;
	}

	#nav .mobile {
		display: none;
	}

	#nav {
		@include grid-column(5);
	}

	/*** HOMEPAGE ***/

	body.home {

		.hero {
			div.image {
				@include grid-column(7);
			}
			div.text {
				margin-top: $padding;
				@include grid-column(5);
			}
		}

		.articles article {
			@include grid-column(3);
		}
		.music {
			@include grid-column(4);
		}

		.film {
			@include grid-column(4);
		}

		.home-widget {
			@include grid-column(4);
		}

		div.fresh-stream {
			@include grid-column(7);
		}
		div.art {
			@include grid-column(5);
		}
	}

	/*** PAGES WITH SIDEBARS ***/

	body.archive, body.search-results, body.page-template-page-twocolumn {
		div.left {
			@include grid-column(8,0);
		}
		aside.sidebar {
			@include grid-column(4);
			> div {
				@include grid-row;
			}
		}
	}

	body.calendar article {
		@include grid-row;
		img {
			@include grid-column(4);
		}
		div.text {
			@include grid-column(8);
		}
	}

	/*** SINGLE & DEFAULT PAGES ***/

	body.single, body.page:not(.page-template-page-twocolumn) {
		main {
			@include grid-column(8);
			@include grid-col-pos(center);
		}
	}

}