
/*************
HEADER 
*************/

#header {
	background: url('../img/banner.jpg') darken($gray,10);
	background-position: left;
	background-size: cover;
	padding-bottom: $padding/4;
	> div {
		position: relative;
	}
	.toggle-nav {
		background: rgba($cream,0.8);
		font-family: sans-serif; // to get unicode symbol
		font-size: 2.375rem;
		line-height: 0.85;
		padding-left: 0.125em;
		padding-right: 0.125em;
		position: absolute;
		top: $padding/2;
		right: $padding/4;
	}
	h1 {
		margin-bottom: 0;
		text-align: center;
	}
	.logo {
		color: $white;
		img {
			height: auto;
			width: 200px;
		}
		img.desktop {
			display: none;
		}
	}
}
@include breakpoint(large) {
	#header {
		background-position: center;
		min-height: 10rem;
		padding-left: $padding/2;
		padding-top: $padding/2;
		h1 {
			text-align: left;
		}
		.logo img.desktop {
			display: inline-block;
			width: 300px;
		}
		.logo img.mobile {
			display: none;
		}
		.toggle-nav {
			font-size: 2rem;
		}
	}
}

/*** Overlay Nav ***/

#nav, body.nav-closed #nav {
	display: none;
}

body.nav-open {
	position: relative;
	&:after { // overlay
		content: '';
		width: 100%;
		height: 100%;
		background: rgba($cream,0.8);
		position: absolute;
		left: 0;
		top: 0;
	}
	#nav {
		display: block;
	}
}

#nav {
	background: rgba($gray-dk,0.95);
	padding: $padding*1.5 $padding;
	min-height: 100vh;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	section {
		padding-top: $padding/2;
		padding-bottom: $padding/2;
		width: 18rem;
		+ section {
			border-top: $border;
		}
	}
	section:not(.buttons) {
		a {
			color: $cream;
			@extend .h3;
		}
		li + li {
			margin-top: 1em;
		}
	}
	section.calendar {
		margin-top: $padding/2;
	}
	section.buttons a {
		background: $cream;
		color: $gray-dk;
		display: inline-block;
		margin-bottom: $padding*.75;
		@extend .button;
	}
	.toggle-nav {
		color: $cream;
		font-size: 1.75rem;
		float: right;
		opacity: 0.8;
		&:hover {
			opacity: 1;
		}
	}
}

@include breakpoint(large) {
	#nav section.pages {
		border-top: none;
	}
}

/*** Desktop Primary Nav ***/

#header div.desktop {
	position: absolute;
	right: 0.5em;
	bottom: 0;
	.menu, .calendar {
		float: right;
	}
	a {
		background: rgba($cream, 0.75);
		padding: 0.125em 0.75em;
		@extend .h3;
		&:hover {
			background-color: rgba($cream, 1);
		}
	}
	ul {
		margin-top: 0;
		margin-bottom: 0;
	}
	li { // some weird stuff happening here to make things look a little more hand-made and "fucked up"
		display: inline-block;
		margin-left: 1em;
		&:first-child {
			transform: rotate(-2deg);
		}
		&:nth-of-type(3) {
			margin-left: 0.75em;
			margin-bottom: 4px;
			transform: translateY(-2px);
		}
		&:nth-of-type(3) a {
			padding-right: 0.65em;
		}
	}
	.calendar {
		margin-left: 1.25em;
	}
}

/*** Top Bar Announcement ***/

div#catapult-cookie-bar {
	display: none; // hide on mobile – not enough space
	background: $gray-dk;
	color: $cream;
	height: $topbar-height;
	position: absolute;
	.ctcc-inner {
		padding: 0.5rem $padding 0.5rem 0.5rem;
		position: relative;
		text-align: center;
		@extend .small;
		@include truncate;
	}
	a {
		border-bottom: 1px solid $gray;
		&:hover {
			border-color: $cream;
		}
	}
	.x_close {
		color: $cream;
		cursor: pointer;
		font-size: 1.125rem;
		margin-left: $padding/3;
		vertical-align: -2px;
		position: absolute;
		top: $padding/4;
		right: $padding/4;
		@extend .icon-cancel;
	}
}

@include breakpoint(medium) {
	div#catapult-cookie-bar {
		display: block;
	}
	.has-cookie-bar body { // make space for Announcement Top Bar
		padding-top: $topbar-height;
		&.logged-in #catapult-cookie-bar { // compensate for wordpress admin bar
			top: 30px;
		}
	}
}




/*************
FOOTER 
*************/

footer {
	background: url('../img/texture.jpg') $gray-dk;
	background-size: cover;
	color: $white;
	padding-top: $padding;
	padding-bottom: $padding;
	.columns {
	  height: 17rem;
	}
	a {
		color: $white;
		border-bottom: 1px solid $gray;
		&:hover {
			border-color: $cream;
		}
	}
	ul {
		@include bullet-list;
	}
	.footer-left {
		margin-bottom: $padding/2;
		h4 {
			margin-bottom: 1em;
		}
		a {
			display: inline-block;
			margin-top: 1em;
		}
	}
	.social a {
	    font-size: 1.125rem;
	    border: 0;
	    margin-right: 0.25em;
	    opacity: 0.75;
	    &:hover {
	    	opacity: 1;
	    }
	}
}

.subfooter {
	background: $gray-dk;
	color: $white;
	padding-top: $padding/2;
	padding-bottom: $padding*1.5;
	@extend .small;
}