
/********************
SETTINGS & UTILITIES
********************/

/*** HEADING FONT ***/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i');

@font-face {
  font-family: 'DIN Cond';
  src: url('../fonts/din_condensed_bold.woff2') format('woff2'),
       url('../fonts/din_condensed_bold.woff') format('woff'),
       url('../fonts/din_condensed_bold.ttf') format('truetype');
  font-weight: bold;
}

/*** COLORS ***/

$black: #282828;
$silver: #ccc7b5;
$gray: #77746a;
$gray-dk: #312d22;
$white: #ffffff;
$cream: #f7f5ef;
$red: #e56c56;

/*** OTHER UTILITIES ***/

$padding: 2rem;
$radius: 0.25em;
$border: 1px solid rgba($gray,0.5);
$topbar-height: 2rem;

/*** MIXINS ***/

/*** Bulleted Unordered Lists ***/
// Sass usage:
// @include bullet-list;

@mixin bullet-list {
	margin-left: 0;
	padding-left: 0.75em;
	text-indent: -0.75em;
	li:before {
		content: '-';
		padding-right: 0.5em;
	}
	li + li {
		margin-top: 0.75em;
	}
}

/*** Underlines for Links ***/
// Sass usage:
// @include underline;
// to add a custom underline color:
// @include underline($silver);

@mixin underline($color:null) {
  border-bottom: 1px solid;
  color: darken($gray,10);
  &:hover {
    color: $black;
  }
  @if ($color) {
    border-color: $color;
  } @else {
    border-color: $black;
  }
}

/*** Cut Off Text That's Too Long with an Ellipsis ***/
// Sass usage:
// @include truncate;
// in cases where a height must be specified to cut off properly:
// @include truncate(1.25em);

@mixin truncate($height:null) {
  height: $height;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*** ICON FONT ***/
// to update: import one of the font files into the app at icomoon.io/app

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot');
  src:  url('../fonts/icomoon.eot#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"], .x_close {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// html usage:
// <span class="icon-twitter"></span>
// for accessibility, provide some visually-hidden text:
// <span class="icon-twitter"></span><span class="visually-hidden">Twitter</span>

.icon-envelope:before {
  content: "\f0e0";
}
.icon-menu:before {
  content: "\2630";
}
.icon-calendar:before {
  content: "\1f4c5";
}
.icon-search:before {
  content: "\e903";
}
.icon-list:before {
  content: "\2254";
}
.icon-cancel:before {
  content: "\2612";
}
.icon-arrow-right:before {
  content: "\27f6";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\e906";
}
.icon-youtube:before {
  content: "\e907";
}
.icon-reddit:before {
  content: "\e901";
}
.icon-snapchat:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e902";
}

/*** FOUNDATION (by Zurb) ***/
// used just for the grid system.

@import 'util/util';
$grid-row-width: rem-calc(1400);
@import "foundation";
@include foundation-global-styles;
@import "grid";

