
/*************
HOMEPAGE 
*************/

body.home {
	main {
	  padding-bottom: $padding*2;
	}
	article:not(.hero) p { // shorten excerpt length
		max-height: 3em;
		overflow: hidden;
	}
	article img {
		margin-bottom: $padding/4;
		width: 100%;
	}
}

.view-all {
	display: inline-block;
	margin-top: $padding/2;
	@extend .small;
	@extend .button;
}

@include breakpoint(large) {
	div.category {
		position: relative;
	}
	.view-all {
		margin-top: 0;
		position: absolute;
		right: $padding;
		top: $padding/4;
	}
}

div.hero {
	margin-bottom: $padding*1.5;
	div.image img { // extra specificity for override
		margin-bottom: 0;
		width: 100%;
	}
	h3 {
		@extend .h1;
	}
}

div.events {
	h3 {
		@extend .h5;
		@include truncate(1.25em);
	}
	.meta {
		margin-bottom: 0.25em;
	}
	article + article {
		border-top: $border;
		padding-top: $padding/4;
		margin-top: $padding/4;
	}
}

@include breakpoint(large) {
	div.events {
		border-left: 1px solid $silver;
		position: relative;
		h2 {
			display: inline-block;
		}
		.view-all {
			right: 0;
		}
	}
}

/* Music, Film, & Art Columns */

div.music, div.film, div.art {
	h4 {
		margin-top: 0;
		margin-bottom: 0;
	}
}

/* Fresh Stream Column */

div.fresh-stream article {
	margin-bottom: $padding/2;
}


/*************
ARCHIVE  
*************/

aside .widget {
	margin-bottom: $padding*2;
}

/*************
EVENTS PAGE  
*************/

body.events-archive article {
	.meta + p { // shorten excerpt
		height: 4.5em;
		overflow: hidden;
	}
	.meta {
		margin-bottom: $padding/4;
	}
	h3 + .meta {
		margin-top: $padding/4;
	}
}

#tribe-bar-collapse-toggle, .tribe-bar-views-select, .tribe-events-ical { // clean out some unwanted stuff
	display: none;
}

.tribe-events-cost {
	color: $black;
}

.tribe-events-notices { // overrides for notices style
    background: transparent;
    border: none;
    color: $red;
    margin: 0;
    padding: 0;
}

.tribe-events-nav-next { // pagination
	margin-left: $padding/2;
}

.tribe-bar-filters { // search form
	margin-bottom: $padding*2;
}

/*** Views Selection ***/
body.events-archive main {
	position: relative;
}
#tribe-bar-views {
	position: absolute;
	top: $padding*1.75;
	right: 0;
	z-index: 1;
}
.tribe-bar-views-list li {
	display: inline;
	font-size: 1.25rem;
	margin-right: $padding/3;
	&:not(.tribe-bar-active) {
		opacity: 0.5;
	}
	&:hover {
		opacity: 1;
	}
}
.tribe-bar-views-option-list a {
	&:before {
		@extend [class^="icon-"];
		@extend .icon-list;
	}
	span {
		@extend .visually-hidden;
	}
}
.tribe-bar-views-option-month a {
	&:before {
		@extend [class^="icon-"];
		@extend .icon-calendar;
	}
	span {
		@extend .visually-hidden;
	}
}


/*** Calendar/Month/Grid View ***/
body.events-gridview {
	.tribe-bar-filters {
		display: none; // hide filters (search) on month/calendar view
	}
	#tribe-bar-views {
		top: 0;
	}
	&.events-archive #tribe-events-content table .type-tribe_events {
		padding: 0 4px;
	}
	.tribe-events-month-event-title {
		height: 1.25em;
		overflow: hidden;
	}
	#tribe-events-content .tribe-events-tooltip h4.entry-title {
		line-height: 1.25em !important;
		margin-top: 0.25em;
	}
}

.tribe-events-past, .tribe-events-past a { // events that have already happened
	color: $silver;
}
.tribe-events-month-event-title {
	line-height: 1;
}

#tribe-events-content .tribe-events-tooltip h4.entry-title {
	@extend .h4;
}

.tribe-events-event-thumb img {
	max-width: 80px;
}

/*** Single Event Page ***/
.tribe-events-single-section-title {
	border-top: $border;
	margin-top: $padding;
	padding-top: $padding;
	@extend .h2;
}


/*************
SINGLE  
*************/

body.single, body.page {
	main header .meta {
		font-size: 1rem;
		a {
			border-bottom: none;
		}
	}
	main header h1 {
		margin-bottom: $padding/2;
	}
	main {
		margin-bottom: $padding/2;
	}
	article {
		p {
			font-size: 1.125rem;
			margin-bottom: $padding/2;
		}
		img {
			margin-bottom: $padding/2;
		}
	}
}

section.tags {
	margin-top: $padding*1.5;
	margin-bottom: $padding;
}

section.comments {
	border-top: $border;
	padding-top: $padding;
	h2 {
		margin-bottom: $padding;
	}
	h3 {
		margin-top: $padding;
	}
	.comment {
		margin-top: $padding;
		max-width: 48rem;
	}
	.comment-author {
		cite {
			font-style: normal;
			text-transform: uppercase;
			font-weight: bold;
		}
		.says {
			display: none;
		}
	}
	.comment-reply-link {
		@extend .h4;
	}
	.comment-meta {
		margin-bottom: $padding/3;
	}
	.comment-notes, .comment-awaiting-moderation, .comment-meta a {
		color: $gray;
		@extend .small;
	}
}