
/*************
HOMEPAGE 
*************/

body.home {
	main {
	  padding-bottom: $padding;
	}
	article:not(.hero) p { // shorten excerpt length
		max-height: 3em;
		overflow: hidden;
	}
	article img {
		margin-bottom: $padding/4;
		width: 100%;
	}
}

.view-all {
	display: inline-block;
	margin-top: $padding/2;
	@extend .small;
	@extend .button;
}

@include breakpoint(large) {

	/* move buttons to upper right of their sections */
	div.category {
		position: relative;
	}
	.view-all {
		margin-top: 0;
		position: absolute;
		right: $padding;
		top: $padding/4;
	}
}

.article-sm + .article-sm {
	margin-top: $padding/2;
}

div.hero {
	margin-bottom: $padding*1.5;
	div.image img { // extra specificity for override
		margin-top: 0;
		margin-bottom: 0;
		width: 100%;
	}
	h3 {
		@extend .h1;
	}
}

div.events {
	h3 {
		@extend .h5;
	}
	.meta {
		margin-bottom: 0.25em;
	}
	article + article {
		border-top: $border;
		padding-top: $padding/4;
		margin-top: $padding/4;
	}
	.tribe-events-cost {
		top: $padding/4;
		right: 0;
		position: absolute;
		@extend .meta;
	}
}

@include breakpoint(large) {
	div.events {
		position: relative;
		h2 {
			display: inline-block;
		}
		.view-all {
			right: 0;
		}
	}
}

/* Homepage Category Columns (e.g. Music, Art, Film) */

body.home div.category {
	h4 {
		margin-top: 0;
		margin-bottom: 0;
	}
}

/* CTA #1: Donation/Support Section */

.home div.donate {
	padding: 0;
	opacity: 0.8;
	&:hover {
		opacity: 1;
	}
	h2 {
		font-size: 4rem;
		margin-bottom: 0;
		position: relative;
	}
	a {
		border: 6px solid $white;
		display: block;
		padding: $padding;
	}
	.icon-arrow-right {
		color: $gray-dk;
		font-size: 0.85em;
	}
}

/* CTA #2: Newsletter/Mailing List Signup */

.home div.newsletter {
	margin-top: $padding;
	p {
		margin-bottom: $padding/2;
	}
	.icon-envelope {
		color: $gray;
		margin-right: $padding/4;
	}
	input {
		min-width: 30%;
		padding: $padding/3;
	}
	.button {
		margin-left: $padding/2;
	}
}


/*************
ARCHIVE  
*************/

aside .widget {
	margin-bottom: $padding*2;
}

/*************
EVENTS PAGE  
*************/

/*** General ***/

.tribe-common button {
	background: transparent;
	color: $black;

	&[disabled] {
		color: $silver;
	}
}

.tribe-events-c-nav__list-item a {
	@extend .button;
}

/*** Top Bar ***/

.tribe-events-c-view-selector__content,
.tribe-events-c-events-bar__search-container {
	background: $white;

	@include breakpoint(medium) {
		background: transparent;
	}
}

.tribe-events-c-view-selector__list-item-text {
	white-space: nowrap;
}

.tribe-common-c-btn.tribe-events-c-search__button {
	background: $gray;
	color: $white;

	@include breakpoint(medium) {
		margin-left: $padding;
	}
}

/*** List View ***/

.tribe-events-c-top-bar__today-button {
	@extend .button;
}

.tribe-events .tribe-events-calendar-list__event-date-tag {

	&-weekday {
		@extend .meta;
		margin-bottom: 0.25em;
	}

	&-daynum {
		@extend .h2;
	}
}


/*** Calendar/Month/Grid View ***/

.tribe-events-c-messages__message-icon-svg {
	margin-right: 0.5em;
}


/*** Single Event Page ***/

.tribe-events-event-meta.primary {
	border-top: $border;
	margin-top: $padding;
	padding-top: $padding;
	width: 100%;
}

.tribe-events-meta-group {
	flex: 100%;
	margin-bottom: $padding;

	+ .tribe-events-meta-group {
		border-top: $border;
		padding-top: $padding;
	}

	@include breakpoint(large) {
		flex: 1;

		+ .tribe-events-meta-group {
			border-top: none;
		}
	}
}

.tribe-events-sub-nav a {
	@extend .button;
}

.tribe-events-nav-next {
	text-align: right;
}


/*************
SINGLE  
*************/

body.single, body.page {
	main header .meta a {
		border-bottom: none;
	}
	main {
		margin-bottom: $padding/2;
	}
	article {
		> p:not(.small) {
			margin-bottom: $padding/2;
		}
		img {
			margin-top: $padding/2;
			margin-bottom: $padding/2;
		}
	}
	.wp-caption-text {
		@extend .meta;
	}
}

body.single main header {
	h1 {
		margin-top: $padding;
	}
	h1 + .meta, .subheading + .meta {
		margin-top: $padding;
	}
}

@include breakpoint(medium) {

	body.single, body.page {
		article > p:not(.small) {
			font-size: 1.175rem;
		}
	}

	body.single main {
		header {
			text-align: center;
		}
		.meta {
			font-size: 1rem;
		}
	}

}

section.tags {
	line-height: 1.75em;
	margin-top: $padding*1.5;
	margin-bottom: $padding;
	.label {
		margin-right: 1em;
	}
	a {
		white-space: nowrap; // keep all words in each item together
	}
}

section.related-posts {
	border-top: $border;
	padding-top: $padding;
	border-bottom: $border;
	padding-bottom: $padding;
	h2 {
		text-align: center;
	}
}

section.comments {
	margin-top: $padding;
	h2 {
		margin-bottom: $padding;
	}
	h3 {
		margin-top: $padding;
	}
	.comment {
		margin-top: $padding;
		max-width: 48rem;
	}
	.comment-author {
		cite {
			font-style: normal;
			font-weight: bold;
			margin-left: $padding/4;
			text-transform: uppercase;
		}
		.says {
			display: none;
		}
	}
	.comment-reply-link {
		@extend .h4;
	}
	.comment-notes, .comment-awaiting-moderation, .comment-meta a {
		color: $gray;
		@extend .small;
	}
	p {
		margin-top: $padding/2;
	}
	.comment-list + .comment-respond {
		border-top: $border;
		padding-top: $padding/2;
		margin-top: $padding*2;
	}
	ul.comment-list ul.children {
		margin-left: $padding;
		li:before {
			display: none;
		}
	}
}

@include breakpoint(medium) {

	section.comments {
		.comment {
			position: relative;
		}
		.comment-meta {
			position: absolute;
			top: $padding/2;
			right: 0;
		}
		textarea {
			width: 40rem;
		}
		textarea, input {
			margin-top: $padding/4;
			padding: 0.5em;
		}
	}
}


/*************
SEARCH RESULTS  
*************/

body.search-no-results main {
	p {
		margin-top: $padding/2;
		margin-bottom: $padding;
	}
	#searchform button {
		color: $black;
	}
	input[type=search] {
		width: 18rem;
	}
}
