/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


/******* 
UTILITIES 
*******/

/*** COLORS ***/

$blue: #6894aa;
$black: #282828;
$gray: #9c9c9c;
$gray-dk: #262626;
$white: #ffffff;
$cream: #e2dfd2;
$red: #e56c56;

/*** OTHER ***/

$padding: 2rem;
$radius: 0.25em;
$border: 1px solid rgba($gray,0.75);

/*** ICON FONT ***/

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot');
  src:  url('../fonts/icomoon.eot#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"], [class^="tribe-icon-"], [class*=" tribe-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-calendar:before, .tribe-icon-month:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e903";
}
.icon-list:before, .tribe-icon-list:before {
  content: "\e901";
}
.icon-cancel-circle:before {
  content: "\e905";
}
.icon-arrow-right:before {
  content: "\e908";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\e906";
}
.icon-youtube:before {
  content: "\e907";
}


// @import "compass/reset";
@import "settings";
@import "foundation";
@include foundation-global-styles;
// @include foundation-grid;
@import "grid";


/******* 
TYPOGRAPHY 
& OTHER BITS
*******/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i');

@font-face {
  font-family: 'DIN Cond';
  src: url('../fonts/din_condensed_bold.woff2') format('woff2'),
       url('../fonts/din_condensed_bold.woff') format('woff'),
       url('../fonts/din_condensed_bold.ttf') format('truetype');
}

html {
	font-size: 14px;
}

body {
	color: $black;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	text-transform: uppercase;
}
h1, .h1, h2, .h2 {
	font-family: 'DIN Cond', 'Open Sans', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
	letter-spacing: 0.045em;
	line-height: 1.025em;
	margin-bottom: 0.5em;
	margin-top: 0;
}
h3, .h3, h4, .h4 {
	font-weight: 600;
	letter-spacing: 0.025em;
	line-height: 1.25em;
	margin-bottom: 0.25em;
	margin-top: 0;
}

h1, .h1 {
	font-size: 3.25rem;
}
h2, .h2 {
	font-size: 2rem;
}
h3, .h3 {
	font-size: 1.2rem;
}
h4, .h4, h5, .h5, h6, .h6 {
	font-size: 1rem;
}

p {
	font-size: 1rem;
	margin-bottom: 0.75em;
	margin-top: 0;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

.small {
	font-size: 0.75rem;
	font-weight: 600;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.visually-hidden { /* text for screen readers */
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}



/******* 
COMPONENTS 
*******/

a {
	color: $black;
	text-decoration: none;
}

button, .button, input[type='submit'] {
	background: $gray;
	border-radius: $radius;
	color: $white;
  	font-weight: 600;
  	letter-spacing: 0.05em;
  	padding: 0.275rem 1rem;
  	text-transform: uppercase;
}

label {
	color: $gray;
	display: block;
	margin-bottom: 0.125em;;
	@extend .small;
}

iframe {
	max-width: 100%;
}

.meta {
	color: $gray;
	@extend .small;
	&.category, &.category a {
		color: $blue;
	}
}

.article-sm h3 {
	@extend .h4;
}

/******* 
GENERAL 
*******/

div.announcement {
	background: $blue;
	color: $white;
	padding: 0;
	@extend .small;
}

footer, .music > article + article, .film > article + article {
  margin-top: $padding/2;
}

.view-all { // button
	padding: 2rem;
	text-align: center;
}

.subfooter {
	background: $cream;
	padding-top: $padding/2;
	padding-bottom: $padding*1.5;
	@extend .small;
}

main > header {
	margin-top: $padding;
	margin-bottom: $padding;
}

/******* 
HEADER 
*******/

#header {
	background: $gray-dk;
	height: 7rem;
	padding: $padding/2;
	> div {
		position: relative;
	}
	.toggle-nav {
		font-family: sans-serif; // to get unicode symbol
		font-size: 4rem;
		line-height: 1;
		position: absolute;
		top: 0;
		left: 0;
	}
	#searchform {
		position: absolute;
		top: 0;
		right: 0;
	}
	h1 {
		margin-bottom: 0;
	}
	.logo {
		display: block;
		margin: 0 auto;
		width: 10rem;
	}
	a {
		color: $cream;
	}
}

#nav, .nav-closed #nav {
	display: none;
}

.nav-open #nav {
	display: block;
}

#nav {
	background: rgba($gray-dk,0.98);
	padding: $padding/2 $padding $padding*2;
	position: absolute;
	top: 0;
	left: 0;
	section {
		padding-top: $padding;
		padding-bottom: $padding;
		width: 18rem;
		+ section {
			border-top: $border;
		}
	}
	section:not(.buttons) a {
		color: $cream;
		display: block;
		@extend .h2;
	}
	section.buttons a {
		background: $cream;
		color: $gray-dk;
		display: inline-block;
		font-size: 1.025rem;
		margin-bottom: $padding*.75;
		@extend .button;
	}
	.toggle-nav {
		float: right;
	}
}


/******* 
FOOTER 
*******/

footer {
	background: $gray-dk;
	color: $white;
	padding-top: $padding;
	padding-bottom: $padding*1.5;
	.columns {
	  height: 17rem;
	}
	a {
		color: $white;
	}
}


/******* 
HOMEPAGE 
*******/

body.home {
	main {
	  margin-top: $padding;
	}
	article:not(.hero) p { // shorten excerpt length
		margin-bottom: 0.25em;
		max-height: 3em;
		overflow: hidden;
	}
	article img {
		margin-bottom: $padding/4;
	}
}

div.hero {
	margin-bottom: $padding*1.5;
	h3 {
		@extend .h1;
	}
}

div.events {
	h2 a:after {
		color: $gray;
		content: '\2192';
		margin-left: 0.25em;
		vertical-align: text-top;
	}
	.meta {
		color: $blue;
		margin-bottom: 0.25em;
	}
	.tribe-events-cost {
		color: $gray;
	}
	article + article {
		border-top: $border;
		padding-top: $padding/2;
		margin-top: $padding/2;
	}
}

/* Music & Film Columns */

.music, .film {
	h4 {
		margin-top: 0;
		margin-bottom: 0;
	}
}

/* Compass Column */

.compass {
	text-align: center;
	img {
		height: 14rem;
		margin-top: $padding;
		max-width: 12rem;
	}
	h3 {
		text-align: left;
	}
	a {
		display: table;
		margin-top: $padding;
	}
}


/******* 
ARCHIVE 
*******/

aside .widget {
	margin-bottom: $padding*2;
}

/******* 
EVENTS PAGE 
*******/

body.events-archive main {
	position: relative;
}

.tribe-bar-filters {
	margin-bottom: $padding*2;
}

#tribe-bar-views {
	position: absolute;
	top: $padding*1.75;
	right: 0;
}
.tribe-bar-views-list li:not(.tribe-bar-active) {
	opacity: 0.5;
}
.tribe-bar-views-list li:hover {
	opacity: 1;
}
#tribe-bar-collapse-toggle, .tribe-bar-views-select {
	display: none;
}

.tribe-events-notices { // overrides
    background: transparent;
    border: none;
    color: $red;
    margin: 0;
    padding: 0;
}

/******* 
SINGLE 
*******/

body.single, body.page {
	main header {
		margin-top: $padding*1.5;
		margin-bottom: $padding*1.5;
		.meta {
			font-size: 1rem;
		}
	}
	main h1 {
		font-size: 2.85rem;
		margin-bottom: $padding/2;
	}
	article {
		p {
			font-size: 1.05rem;
			margin-bottom: $padding;
		}
		img {
			margin-bottom: $padding/2;
		}
	}
}

.tags {
	margin-top: $padding*1.5;
	margin-bottom: $padding*3;
	a {
		color: $blue;
	}
}
