
@import 'setup';


/*************
TYPOGRAPHY 
& OTHER BITS
*************/

html {
	font-size: 14px;
}

body {
	background: $cream;
	color: $black;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
	word-break: break-word; // wrap extra-long words so they don't break layout
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
	text-transform: uppercase;
}
h1, .h1, h2, .h2 {
	font-family: 'DIN Cond', 'Open Sans', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
	letter-spacing: 0.045em;
	line-height: 1.025em;
	margin-bottom: 0.5em;
	margin-top: 0;
}
h3, .h3, h4, .h4 {
	font-weight: 600;
	line-height: 1.25em;
	margin-bottom: 0.25em;
	margin-top: 0;
}

h1, .h1 {
	font-size: 2.85rem;;
}
h2, .h2 {
	font-size: 2rem;
}
h3, .h3 {
	font-size: 1.1rem;
}
h4, .h4, h5, .h5, h6, .h6 {
	font-size: 1rem;
}

.subheading {
	color: $gray;
	@extend .h3;
}

p {
	font-size: 1rem;
	margin-bottom: 0.75em;
	margin-top: 0;
}

ul {
	list-style-type: none;
	padding-left: 0;
	ul {
		margin-left: $padding;
	}
}
ol {
	padding-left: 1.125rem;
}

hr {
	border-top: 1px solid $silver;
	margin-top: $padding;
	margin-bottom: $padding;
}

::selection {
	background: $gray;
	color: $cream;
}

.single article, .page article {
	ul {
		@include bullet-list;
	}
	a {
		@include underline();
		&:hover {
			color: $black;
		}
	}
}

blockquote {
	border-left: 4px solid $silver;
	padding-left: $padding/2;
}

.small {
	font-size: 0.75rem;
	font-weight: 600;
	letter-spacing: 0.05em;
	text-transform: uppercase;
}

.visually-hidden { /* text for screen readers */
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*************
FORMS 
*************/

input, textarea {
	border: 1px solid $silver;
	opacity: 0.8;
	padding: 0.25em;
	&:focus {
		opacity: 1;
		outline: none;
	}
}

label {
	display: block;
	margin-bottom: 0.125em;;
	@extend .small;
}

.checkbox {
	margin-top: $padding/3;
	span { // checkbox label
		color: $gray;
	}
}


/*************
COMPONENTS 
*************/
// reusable bits of stuff

a {
	color: $black;
	text-decoration: none;
}

button, .button, input[type='submit'] {
	background: $gray;
	border: 0;
	border-radius: $radius;
	color: $white;
  	font-weight: 600;
  	letter-spacing: 0.05em;
  	padding: 0.125rem 0.75rem;
  	text-transform: uppercase;
  	opacity: 0.8;
  	&:hover {
  		opacity: 1;
  	}
}

iframe {
	width: 100%;
}

.videowrapper { // allows nice, responsive youtube embeds
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.meta {
	color: $gray;
	@extend .small;
	&.category, &.category a {
		color: $black;
	}
}

.article-sm h3 {
	@extend .h4;
}

article:not(.hero) .thumbnail {
	background-color: $gray;
	background-size: cover;
	background-position: center;
	border: 6px solid $white;
	display: block;
	height: 150px;
	margin-bottom: $padding/4;
	overflow: hidden;
}

/*** Search Form ***/

#searchform button {
	background: transparent; // remove button style, since we're using an icon
	font-size: 1.25em;
}

/*** Tables ***/

table {
	border: 1px solid $gray-dk;
	margin-bottom: $padding/2;
	img {
		max-width: 160px;
	}
	th {
		@extend .h4;
	}
	tr, td {
		padding: $padding/3;
	}
	tr {
		border-bottom: $border;
		font-size: 0.85rem;
	}
}

/*** Definition Lists ***/

dt {
	margin-top: $padding/2;
	@extend .h4;
}
dd {
	margin-left: 0;
}

/*** Page Navigation **/

nav.pagination {
	border-top: $border;
	margin-top: $padding*2;
	padding-top: $padding;
	@extend .h3;
	.next-link {
		float: right;
	}
}

/*************
GENERAL 
*************/

footer, .music > article + article, .film > article + article, .art > article + article {
  margin-top: $padding/2;
}

.view-all { // button
	padding: 2rem;
	text-align: center;
}

.subfooter {
	background: $gray-dk;
	color: $white;
	padding-top: $padding/2;
	padding-bottom: $padding*1.5;
	@extend .small;
}

main > header {
	margin-top: $padding;
	margin-bottom: $padding;
}

/*************
HEADER 
*******/

#header {
	background: url('../banner.jpg') $gray;
	background-position: left;
	background-size: cover;
	padding-bottom: $padding/4;
	> div {
		position: relative;
	}
	.toggle-nav {
		background: rgba($cream,0.8);
		font-family: sans-serif; // to get unicode symbol
		font-size: 2.375rem;
		line-height: 0.85;
		padding-left: 0.125em;
		padding-right: 0.125em;
		position: absolute;
		top: $padding/2;
		right: $padding/4;
	}
	h1 {
		margin-bottom: 0;
		text-align: center;
	}
	.logo img {
		height: auto;
		width: 200px;
	}
}
@include breakpoint(medium) {
	#header {
		background-position: center;
		h1 {
			text-align: left;
		}
		.logo img {
			width: 230px;
		}
		.toggle-nav {
			font-size: 2rem;
		}
	}
}

/*** Overlay Nav ***/

#nav, body.nav-closed #nav {
	display: none;
}

body.nav-open {
	position: relative;
	&:after { // overlay
		content: '';
		width: 100%;
		height: 100%;
		background: rgba($cream,0.8);
		position: absolute;
		left: 0;
		top: 0;
	}
	#nav {
		display: block;
	}
}

#nav {
	background: rgba($gray-dk,0.95);
	padding: $padding*1.5 $padding;
	min-height: 100vh;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	section {
		padding-top: $padding/2;
		padding-bottom: $padding/2;
		width: 18rem;
		+ section {
			border-top: $border;
		}
	}
	section:not(.buttons) {
		a {
			color: $cream;
			@extend .h3;
		}
		li + li {
			margin-top: 1em;
		}
	}
	section.calendar {
		margin-top: $padding/2;
	}
	section.buttons a {
		background: $cream;
		color: $gray-dk;
		display: inline-block;
		margin-bottom: $padding*.75;
		@extend .button;
	}
	.toggle-nav {
		color: $cream;
		font-size: 1.75rem;
		float: right;
		opacity: 0.8;
		&:hover {
			opacity: 1;
		}
	}
}

@include breakpoint(medium) {
	#nav section.pages {
		border-top: none;
	}
}

/*** Desktop Primary Nav ***/

#header .desktop {
	position: absolute;
	right: 0.5em;
	bottom: 0;
	.menu, .calendar {
		float: right;
	}
	a {
		background: rgba($cream, 0.75);
		padding: 0.125em 0.75em;
		@extend .h4;
		&:hover {
			background-color: rgba($cream, 1);
		}
	}
	ul {
		margin-top: 0;
		margin-bottom: 0;
	}
	li { // some weird stuff happening here to make things look a little more hand-made and "fucked up"
		display: inline-block;
		margin-left: 1em;
		&:first-child {
			transform: rotate(-2deg);
		}
		&:nth-of-type(3) {
			margin-left: 0.75em;
			margin-bottom: 4px;
			transform: translateY(-2px);
		}
		&:nth-of-type(3) a {
			padding-right: 0.65em;
		}
	}
	.calendar {
		margin-left: 1.25em;
	}
}

/*** Top Bar Announcement ***/

div#catapult-cookie-bar {
	background: $gray-dk;
	color: $cream;
	height: $topbar-height;
	position: absolute;
	.ctcc-inner {
		padding: 0.5rem $padding 0.5rem 0.5rem;
		position: relative;
		text-align: center;
		@extend .small;
		@include truncate();
	}
	a {
		border-bottom: 1px solid $gray;
		&:hover {
			border-color: $cream;
		}
	}
	.x_close {
		color: $cream;
		cursor: pointer;
		font-size: 1.125rem;
		margin-left: $padding/3;
		vertical-align: -2px;
		position: absolute;
		top: $padding/4;
		right: $padding/4;
	}
}

.has-cookie-bar body { // make space for Announcement Top Bar
	padding-top: $topbar-height;
	&.logged-in #catapult-cookie-bar { // compensate for wordpress admin bar
		top: 30px;
	}
}




/*************
FOOTER 
*************/

footer {
	background: url('../texture.jpg') $gray-dk;
	background-size: cover;
	color: $white;
	padding-top: $padding;
	padding-bottom: $padding;
	.columns {
	  height: 17rem;
	}
	a {
		color: $white;
		border-bottom: 1px solid $gray;
		&:hover {
			border-color: $cream;
		}
	}
	ul {
		@include bullet-list;
	}
	.footer-left {
		margin-bottom: $padding/2;
		h4 {
			margin-bottom: 1em;
		}
		a {
			display: inline-block;
			margin-top: 1em;
		}
	}
	.social a {
	    font-size: 1.125rem;
	    border: 0;
	    margin-right: 0.25em;
	    opacity: 0.75;
	    &:hover {
	    	opacity: 1;
	    }
	}
}

/*************
SITE-SPECIFIC 
*************/

@import 'site-specific';
